{% extends 'base.html' %}
{% block content %}
    <div class="container mx-auto">
        <!-- <h1 class="text-5xl font-black text-center">Employees</h1> -->
        <div class="p-12">
            <div class="flex flex-col md:flex-row justify-between items-center mb-5">
                <h1 class="text-3xl font-bold ">Employee list</h1>
                <form action="" role="search">
                    <div class="form-control">
                        <div class="input-group-sm">
                            <input type="text" name="keyword" class="input input-bordered" placeholder="Search">
                            <button class="btn"><i class="fa-solid fa-magnifying-glass"></i></button>
                        </div>
                    </div>
                </form>
            </div>
            {% include 'employees.html' %}
        </div>
    </div>
{% endblock content %}